@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  @media (max-width: 640px) {
    .fav-card-button {
      width: 100%;
    }
  }
}
